*~
.metadata
.DS_Store
dist/
*.pyc
local.properties
card.io/doc/all
card.io/doc/apidist/
card.io/doc/api
.externalToolBuilders
.project
.classpath
gdb.setup
gdbserver
.cproject
card.io/proguard-data/card.io-android-*-g*
card.io/proguard-data/card.io-android-*-dirty
card.io/proguard-data/card.io-android-WL*
opencv/build-*
opencv/OpenCV-*
/card.io-test/gen/
/card.io-test/build/
/card.io-test/bin/
recording_*.zip
/card.io/javadoc/
/card.io/src/main/libs/
public/
/SampleApp/build/
/SampleApp/.gradle/
.idea
*.iml
/out/
.gradle
