*~
.DS_Store
dist/
local.properties
card.io/doc/all
card.io/doc/apidist/
card.io/doc/api
gdb.setup
gdbserver
.cproject
card.io/proguard-data/card.io-android-*-g*
card.io/proguard-data/card.io-android-*-dirty
card.io/proguard-data/card.io-android-WL*
opencv/build-*
opencv/OpenCV-*
recording_*.zip
/card.io/javadoc/
/card.io/src/main/libs/
/SampleApp/build/
/SampleApp/.gradle/
.idea
*.iml
/out/
.gradle
